<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<title>Guild Wars 2 Bag Layout Visualizer</title>
	<meta name="description" content="Visualize how your Guild Wars 2 inventory will look like with different bags and settings." />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="shortcut icon" type="image/png" href="./favicon.ico" />
	<script src="vue-3.2.37.global.prod.js"></script>
	<style type="text/css">
		:root {
			color-scheme: light dark;
		}
		html {
			font-family: sans-serif;
		}
		body {
			background-color: #eee;
			color: #111;
		}
		a {
			color: #00c;
		}
		a:visited {
			color: #808;
		}
		#nojs {
			border: 2px solid #f00;
			padding: 1em;
			font-weight: bold;
		}
		.panel {
			margin-bottom: 1.5em;
			padding: 0.3em;
			background-color: #ddd;
		}
		.disabled {
			opacity: 0.4;
		}
		footer {
			clear: both;
			margin-top: 3em;
		}
		footer p {
			font-size: 80%;
			text-align: center;
		}
		.v-enter-active, .v-leave-active {
			transition: opacity 0.5s ease;
		}
		.v-enter-from, .v-leave-to {
			opacity: 0;
		}
		@media screen and (min-width: 960px) {
			#settings {
				float: left;
				width: 48%;
			}
			#visualization {
				float: right;
				width: 48%;
			}
		}
		@media (prefers-color-scheme: dark) {
			body {
				background-color: #111;
				color: #bbb;
			}
			.panel {
				background-color: #222;
			}
			a {
				color: #66f;
			}
			a:visited {
				color: #c4c;
			}
		}
	</style>
</head>

<body>

<div id="app">
	<h1>Guild Wars 2 Bag Layout Visualizer</h2>
	<div id="nojs" v-if="false">
		This is a JavaScript application. You’ll need to have JavaScript enabled to use it. However, we don’t have annoying trackers, popups, cryptocurrency miners or hampster dance music. Enabling JS is pretty safe on this page. (Sorry if you would have loved some hampster dance music.)
	</div>
	<p>
		We all know that the real endgame of <a href="https://www.guildwars2.com/" target="_blank">Guild Wars 2</a> is <a href="https://thatshaman.com/games/inventory/" target="_blank">inventory management</a>.
		You can have big bags, small bags, shared inventory slots, you can reorder them and so on.
	</p><p>
		If you don’t want your inventory to look like a desperate mess where everything just gets dumped into, you’ll need some kind of logic to it.
		Like, you’ll maybe have some invisible bags with handy items, and maybe a material bag?
		And of course you’ll disable the “show bags” option to save some screen space.
	</p><p>
		But how do you make sure different types of bags don’t start in the middle of the inventory, but maybe at the beginning of a row?
		Is there an optimal inventory window width where everything just nicely clicks into place?
		What about if you buy another two shared inventory slots, or upgrade that 28-slot bag to a 32-slot one?
		How could you reorder things so that it looks nice again?
	</p><p>
		This is what this tool is about.
		<a href="#" @click.prevent="show_docs = !show_docs"><strong>{{ show_docs ? "Hide" : "Show" }} instructions</strong></a>
	</p>
	<Transition><div v-show="show_docs">
		<ul>
			<li>Set the width of your in-game inventory window (in slots) with the topmost slider.</li>
			<li>“Show Bags” and “Hide Bags” do the same thing as the option in the game: “Hide” will make all bags flow into each other, while “Show” will let each one start on a new row.</li>
			<li>If you own shared inventory slots, use the slider to select how many, and whether you’ll want them before or after all of your normal bags. “Embed” will merge them in the same row with whatever bag comes before or after them. This can only be enabled if you chose “Hide Bags” above.</li>
			<li>You start out with a 20-slot bag. Use the <strong>+</strong> button to add another bag. You may have up to 10 bags, just like in the game.</li>
			<li>Use the <strong>×</strong> button to delete a bag, or the <strong>↑</strong> and <strong>↓</strong> buttons to move a bag up or down.</li>
			<li>If your browser supports it, you can change the color of the bag to your liking.</li>
			<li>Of course you have to set the size of your bag; all bag sizes in the game should be present in the dropdown.</li>
			<li>If you like, add a note to the bag to remind you of what it’s used for, or maybe just whether you like the way it smells. These notes will also appear when you hover your mouse over the bag in the visualization below.</li>
		</ul>
		<p>
			Below all of the settings, there’s a small text box with a savecode:
			You can copy this text and send it to a friend.
			If they paste it into the text box on their end, they’ll have everything set up the way you did.
			Of course, no matter whether you have a friend or not, you can simply save this text to your notes in order to restore your settings again later on.
		</p><p>
			And finally there’s the visualization.
			It shows your bags and their slots like they’ll appear in game.
			(Without all of the annoying items in them, of course.)
			Whenever you change a setting, the visualization will update instantly.
		</p>
	</div></Transition>
	<p>
		I know the current design is hideous.
		If you’d like to improve it, visit <a href="https://codeberg.org/scy/gw2-bag-layout-visualizer">the project’s open source repository</a>.
		You can also contact me in game (scy.4820), donations welcome ;)
	</p>
	<div id="settings">
		<div class="panel">
			Inventory Window Width:<br />
			<input type="range" v-model.number="cols" min="4" max="32" step="1" />
			{{ cols }} slots
		</div>
		<div class="panel">
			<input type="radio" id="show_bags" value="y" v-model="show_bags" />
			<label for="show_bags">Show Bags</label>
			<input type="radio" id="hide_bags" value="" v-model="show_bags" />
			<label for="hide_bags">Hide Bags</label>
		</div>
		<div class="panel">
			Shared Inventory Slots:<br />
			<input type="range" v-model.number="shared" min="0" max="28" step="1" />
			{{ shared }} slot<template v-if="shared != 1">s</template><br />
			<input type="checkbox" id="embed_shared" v-model="embed_shared" :disabled="!!show_bags"/>
			<label for="embed_shared" :class="{ disabled: !!show_bags }">Embed</label><br />
			<input type="radio" id="shared_top" value="top" v-model="shared_pos" />
			<label for="shared_top">Top</label>
			<input type="radio" id="shared_bottom" value="bottom" v-model="shared_pos" />
			<label for="shared_bottom">Bottom</label>
		</div>
		<div class="panel">
			Bags:
			<button @click="add_bag" :disabled="!can_add_bag">+</button>
			<div v-for="(bag, num) in bags">
				<button @click="remove_bag(num)" :disabled="bags.length <= 1">×</button>
				<button @click="move_bag_up(num)" :disabled="num == 0">↑</button>
				<button @click="move_bag_down(num)" :disabled="num == bags.length-1">↓</button>
				<input type="color" v-model="bag.color" />
				Bag {{ num+1 }}:
				<select v-model.number="bag.slots">
					<option v-for="size in [4, 5, 8, 10, 12, 15, 18, 20, 24, 28, 32]">{{ size }}</option>
				</select>
				slots
				<input type="text" placeholder="Note" v-model="bag.note" />
			</div>
		</div>
		<div class="panel">
			Savecode: <input v-model="savecode" /> (copy & paste this to restore settings)
		</div>
	</div>
	<div id="visualization" ref="visualization">
		<svg xmlns="http://www.w3.org/2000/svg" :viewBox="`0 0 ${vis_width} ${vis_height}`" :style="{ width: `${vis_width}px`, height: `${vis_height}px` }">
			<g v-for="(row, rowidx) in grid">
				<rect v-for="(slot, colidx) in row" :x="colidx * slot_offset" :y="rowidx * slot_offset" :width="slot_size" :height="slot_size" :fill="slot.color">
					<title v-if="slot.note">{{ slot.note }}</title>
				</rect>
			</g>
		</svg>
	</div>
	<footer><p>
		If you couldn’t already tell, this project is in no way affiliated with Guild Wars 2, ArenaNet or NCSOFT.
		Guild Wars 2 is © 2010–2022 ArenaNet, LLC.
		All rights reserved.
		Guild Wars, Guild Wars 2, ArenaNet, NCSOFT and all associated logos and designs are trademarks or registered trademarks of NCSOFT Corporation.
		All other trademarks are the property of their respective owners.
	</p></footer>
</div>

<script>
	function add_to_grid(grid, width, break_before, bag) {
		// If we should add a break before this bag, add a new row.
		if (break_before) {
			grid.push([]);
		}
		// If the grid is (still) empty, add the first row.
		if (grid.length == 0) {
			grid.push([]);
		}
		for (let i = 0; i < bag.slots; i++) {
			let cur_row = grid[grid.length - 1];
			// If the current row is full, add a new one.
			if (cur_row.length >= width) {
				cur_row = [];
				grid.push(cur_row);
			}
			// Append the slot.
			cur_row.push({ color: bag.color, note: bag.note });
		}
	}

	const palette = [
		"#56cdd6", "#ad3636", "#ebc53b", "#cc9243", "#bdd966", "#b57474", "#ed5426", "#c274e8", "#21d379",
	];
	const { createApp } = Vue;

	createApp({
		data() {
			return {
				cols: 20,
				show_bags: "y",
				shared: 2,
				embed_shared: true,
				shared_pos: "top",
				bags: [{
					slots: 20,
					color: palette[0],
					note: "Starter Backpack",
				}],
				palette,
				resizeObserver: null,
				vis_width: null,
				savecode_keys: [
					"cols", "show_bags", "shared", "embed_shared", "shared_pos", "bags",
				],
				show_docs: false,
			};
		},
		computed: {
			can_add_bag() {
				return this.bags.length < 10;
			},
			savecode: {
				get() {
					return btoa(JSON.stringify(Object.fromEntries(this.savecode_keys.map(name => [name, this[name]]))));
				},
				set(v) {
					const obj = JSON.parse(atob(v));
					for (k of this.savecode_keys) {
						if (k in obj) {
							this[k] = obj[k];
						}
					}
				},
			},
			slot_offset() {
				return 1.1 * this.slot_size;
			},
			slot_size() {
				return this.vis_width / (this.cols + ((this.cols - 1) / 10));
			},
			grid() {
				const grid = [];
				const separate_bags = this.show_bags == "y";
				const separate_shared = separate_bags || !this.embed_shared;
				const shared_bag = this.shared ? { slots: this.shared, color: "#c4bebd", note: "Shared Inventory" } : null;
				const cols = this.cols;
				if (shared_bag && this.shared_pos == "top") {
					add_to_grid(grid, cols, false, shared_bag);
				}
				this.bags.forEach(function (bag, idx) {
					add_to_grid(grid, cols, separate_bags || (idx == 0 && shared_bag && separate_shared), bag);
				});
				if (shared_bag && this.shared_pos != "top") {
					add_to_grid(grid, cols, separate_shared, shared_bag);
				}
				return grid;
			},
			rows() {
				return this.grid.length;
			},
			vis_height() {
				return this.rows * this.slot_size + ((this.rows - 1) * (0.1 * this.slot_size));
			},
		},
		methods: {
			add_bag() {
				if (!this.can_add_bag) {
					return;
				}
				this.bags.push({
					slots: 20,
					color: this.palette[this.bags.length % this.palette.length],
					note: "",
				});
			},
			remove_bag(idx) {
				if (idx >= this.bags.length) {
					return;
				}
				this.bags.splice(idx, 1);
			},
			swap_bags(a, b) {
				if (!(a < b && a >= 0 && b >= 0 && a < this.bags.length && b < this.bags.length)) {
					return;
				}
				this.bags[a] = this.bags.splice(b, 1, this.bags[a])[0];
			},
			move_bag_down(idx) {
				this.swap_bags(idx, idx+1);
			},
			move_bag_up(idx) {
				this.swap_bags(idx-1, idx);
			},
			on_resize() {
				if (!this.$refs.visualization) {
					return;
				}
				this.vis_width = this.$refs.visualization.clientWidth;
			},
		},
		mounted() {
			try {
				this.resizeObserver = new ResizeObserver(this.on_resize)
					.observe(this.$refs.visualization);
			} catch (e) {
				// TODO: Build a fallback or something.
			}
			this.on_resize();
		},
		beforeDestroy() {
			if (this.resizeObserver) {
				this.resizeObserver.disconnect();
			}
		},
	}).mount("#app");
</script>
